<header class="site-header">
    <div class="logo">Manageriale Infinito</div>

    <nav>
        <a routerLink="/dashboard">Home</a>
        <a routerLink="/regolamento">Regolamento</a>
        <a routerLink="/classifica">Classifica</a>
        <a routerLink="/rose">Rose</a>
        <a routerLink="/stadio">Stadio</a>
        <a routerLink="/albo-doro">Albo d'oro</a>
        <a routerLink="/admin">Admin</a>
        <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active">
            Login
        </a>

        <button *ngIf="isLoggedIn" type="button" class="logout-button" (click)="logout()">
            Logout
        </button>
    </nav>
</header>