<section class="login-page">
    <form class="login-card" (ngSubmit)="isRegisterMode ? register() : login()">
        <span>Manageriale Infinito</span>

        <h1>{{ isRegisterMode ? 'Registrati' : 'Accedi' }}</h1>

        <p>
            {{
            isRegisterMode
            ? 'Crea il tuo account. Il superadmin ti assegnerà una squadra.'
            : 'Entra nel tuo club e gestisci la tua squadra.'
            }}
        </p>

        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" />

        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" />

        <button type="submit" [disabled]="loading">
            {{
            loading
            ? (isRegisterMode ? 'Registrazione...' : 'Accesso...')
            : (isRegisterMode ? 'Registrati' : 'Accedi')
            }}
        </button>

        <button type="button" class="secondary-button" (click)="toggleMode()">
            {{
            isRegisterMode
            ? 'Hai già un account? Accedi'
            : 'Non hai un account? Registrati'
            }}
        </button>

        <p class="error" *ngIf="errorMessage">
            {{ errorMessage }}
        </p>

        <p class="success" *ngIf="successMessage">
            {{ successMessage }}
        </p>
    </form>
</section>